<div class="widget-box">
  	<div class="widget-content nopadding">
    	<table class="table table-bordered table-striped data-table">
      		<thead>
        		<tr>
          			<th>Firstname</th>
          			<th>Lastname</th>
          			<th>Ministry</th>
          			<th>Action</th>
        		</tr>
      		</thead>
      		<tbody>
				{% for user in users if users|length %}
        			<tr class="odd gradeX">
						<td>{{ user.firstname ?? null }}</td>
						<td>{{ user.lastname ?? null }}</td>
						<td>{{ user.ministry.name ?? null }}</td>
						<td class="center">
							<button class="btn btn-info userInfo" data-id="{{ user.id }}"><i class="fa fa-files-o no-event"></i></button>
						</td>
        			</tr>
				{% endfor %}
      		</tbody>
    	</table>
  	</div>
</div>

<script src="{{ asset('bundles/libs/datatables/js/jquery.dataTables.min.js') }}"></script> 
<script type="text/javascript">
	$(function() {
		$('.data-table').dataTable({
			"bJQueryUI": true,
			"sDom": '<"">t<"F"fp>',
			"pageLength": 8
		});
	});
</script>