{% extends 'NashAnnFrontBundle:Front/Template:layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/select2.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/uniform.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/libs/bootstrap-datepicker/css/bootstrap-datepicker.css') }}" />
{% endblock %}

{% block content %}
    <div id="content">
      <div id="content-header">
        <div id="breadcrumb"> 
            <a href="{{ path('nash_ann_front_homepage') }}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i></a>
            <a href="{{ path('user_index') }}" title="Go to Home" class="tip-bottom"><i class="icon-user"></i> Members</a>
            <a href="#" class="current"><i class="icon-pencil"></i> Adding New Member</a>
            <div class="widget-title-btn pull-right">
                <a href="#" id="spouseModal" class="text-warning text-bold"><i class="fa fa-clipboard"></i> Copy From Member</a>
            </div> 
        </div>
      </div>
        <div class="container-fluid">
            <div class="row-fluid">
                {% set messages = [] %}
                {% for child in form.children %}
                    {% for error in child.vars.errors %}
                        {% set messages = messages|merge([error.message]) %}
                    {% endfor %}
                {% endfor %}
                {% if messages|length %}
                    <div class="alert alert-danger">
                        {% for message in messages %}
                            <div>{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                {{ form_start(form, {'attr': {'class':'form-horizontal', 'novalidate':'novalidate', 'id':'basic_validate'}}) }}
                    <div class="span6">
                        <div class="span12">
                            <div class="widget-box">
                                <div class="widget-title">
                                    <span class="icon"><i class="icon-user"></i></span> 
                                    <h5>Personal Details</h5>
                                </div>
                                <div class="widget-content nopadding">
                                        <div class="control-group">
                                            {{ form_label(form.firstname) }}
                                            <div class="controls">
                                                {{ form_widget(form.firstname) }}
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            {{ form_label(form.lastname) }}
                                            <div class="controls">
                                                {{ form_widget(form.lastname) }}
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            {{ form_label(form.nickname) }}
                                            <div class="controls">
                                                {{ form_widget(form.nickname) }}
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            {{ form_label(form.birthday) }}
                                            <div class="controls">
                                                {{ form_widget(form.birthday) }}
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            {{ form_label(form.weddingDate) }}
                                            <div class="controls">
                                                {{ form_widget(form.weddingDate) }}
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Avatar</label>
                                            <div class="controls">
                                              <input type="file" name="avatar" />
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="span12">
                            <div class="widget-box">
                                <div class="widget-title">
                                    <span class="icon"><i class="icon-map-marker"></i></span> 
                                    <h5>Address</h5>
                                </div>
                                <div class="widget-content nopadding">
                                    <div class="control-group">
                                        {{ form_label(form.address1) }}
                                        <div class="controls">
                                            {{ form_widget(form.address1) }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        {{ form_label(form.address2) }}
                                        <div class="controls">
                                            {{ form_widget(form.address2) }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        {{ form_label(form.city) }}
                                        <div class="controls">
                                            {{ form_widget(form.city) }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        {{ form_label(form.postcode) }}
                                        <div class="controls">
                                            {{ form_widget(form.postcode) }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        {{ form_label(form.country) }}
                                        <div class="controls">
                                            {{ form_widget(form.country) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    {% do form.avatarInput.setRendered %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="span12">
                            <div class="widget-box">
                                <div class="widget-title">
                                    <span class="icon"><i class="icon-envelope"></i></span> 
                                    <h5>Contact Details</h5>
                                </div>
                                <div class="widget-content nopadding">
                                    <div class="control-group">
                                        {{ form_label(form.email) }}
                                        <div class="controls">
                                            {{ form_widget(form.email) }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        {{ form_label(form.telephone) }}
                                        <div class="controls">
                                            {{ form_widget(form.telephone) }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        {{ form_label(form.mobile) }}
                                        <div class="controls">
                                            {{ form_widget(form.mobile) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span12">
                            <div class="widget-box">
                                <div class="widget-title">
                                    <span class="icon"><i class="icon-heart"></i></span> 
                                    <h5>Service &amp; Ministry</h5>
                                </div>
                                <div class="widget-content nopadding">
                                    <div class="control-group">
                                        {{ form_label(form.clpDate) }}
                                        <div class="controls">
                                            {{ form_widget(form.clpDate) }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        {{ form_label(form.ministry) }}
                                        <div class="controls">
                                            {{ form_widget(form.ministry) }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        {{ form_label(form.roles) }}
                                        <div class="controls">
                                            {{ form_widget(form.roles) }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        {{ form_label(form.household) }}
                                        <div class="controls">
                                            {{ form_widget(form.household) }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        {{ form_label(form.unit) }}
                                        <div class="controls">
                                            {{ form_widget(form.unit) }}
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        {{ form_label(form.chapter) }}
                                        <div class="controls">
                                            {{ form_widget(form.chapter) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span12">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"><i class="icon-map-marker"></i></span> 
                                <h5>Member Status</h5>
                            </div>
                            <div class="widget-content nopadding">
                                <div class="control-group">
                                    {{ form_label(form.isTithing) }}
                                    <div class="controls">
                                        {{ form_widget(form.isTithing) }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.isActive) }}
                                    <div class="controls">
                                        {{ form_widget(form.isActive) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span12">
                            <div class="form-actions text-right">
                                <button type="submit" class="btn btn-success"><i class="icon-ok"></i> Save Member</button>
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div id="modal" data-iziModal-title="Copy information from a member" data-iziModal-subtitle="Select a member to copy the information from.">
        <div class="iziModal-content">&nbsp;</div>
    </div>

    <div id="loaderModal" class="iziModal" data-izimodal-group="alerts"></div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/assets/js/jquery.uniform.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/jquery.validate.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/jquery.uniform.js') }}"></script>
    <script src="{{ asset('bundles/libs/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/maruti.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/maruti.form_validation.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/maruti.form_common.js') }}"></script>
    <script type="text/javascript">
        $(function() {

            // << Spouse Modal
            var spouseModal = $('#spouseModal'),
                modal       = $('#modal'),
                loaderModal = $('#loaderModal');

            modal.iziModal({
                headerColor     : '#49CCED',
                closeOnEscape   : false,
                overlayClose    : false,
                onOpening: function(modal){
 
                    modal.startLoading();
             
                    $.get("{{ path('user_list') }}", function(data) {
                        $("#modal .iziModal-content").html(data);
             
                        modal.stopLoading();
                    });
                }
            });
            loaderModal.iziModal({
                title                       : 'Please wait..',
                subtitle                    : 'Fetching member\'s details...',
                headerColor                 : '#49CCED',
                theme                       : '',
                icon                        : 'fa fa-group',
                timeout                     : 4000,
                timeoutProgressbar          : true,
                loop                        : true,
                timeoutProgressbarColor     : '#f89406',
                closeButton                 : false,
                overlayClose                : false,
                closeOnEscape               : false
            });

            spouseModal.click(function(e) {
                e.preventDefault();
                modal.iziModal('open');
            });

            modal.click(function(e) {
                var target = e.target;

                if ($(target).hasClass('userInfo')) {
                    var id = $(target).data('id');

                    modal.iziModal('close');
                    loaderModal.iziModal('open');

                    $.post("{{ path('user_detail') }}", {id: id}, function(data) {
                        $.each(data.user, function(index, value) {
                            var $field = $('#NashAnn_userbundle_user_'+index);

                            if ($field) {
                                $field.val(value);
                            }
                        });
                        setTimeout(function() {
                            loaderModal.iziModal('close');
                        },500);
                    });
                }
            });

            // row click
            
            // >> Spouse Modal
            
        });
    </script>
{% endblock %}