{% extends 'NashAnnFrontBundle:Front/Template:layout.html.twig' %}

{% block styles %}
	<link rel="stylesheet" href="{{ asset('bundles/assets/css/select2.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/libs/datatables/css/jquery.dataTables.min.css') }}" />
{% endblock %}

{% block content %}
	<div id="content">
	  <div id="content-header">
	    <div id="breadcrumb"> 
	    	<a href="{{ path('nash_ann_front_homepage') }}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i></a>
	    	<a href="#" class="current"><i class="icon-user"></i> Members</a>
	    </div>
	  </div>
	  <div class="widget-box widget-plain">
	      	<div class="center">
	        	<ul class="stat-boxes">
	        		{% if usersNoMinistry|length %}
		          		<li {% if data.sub %}class='active'%}{% endif %}>
		            		<div class="left">
		            			<img src="{{ asset('bundles/assets/images/icons/user-info.png') }}">
		            		</div>
				            <div class="right"> <strong class="total">{{ usersNoMinistry|length }}</strong>
				            	<a href="{{ path('user_index', {ministry:'none', sub:'ministry'}) }}">No Ministry</a>
				            </div>
		          		</li>
		          	{% endif %}
	          		<li>
			            <div class="left">
			            	<img src="{{ asset('bundles/assets/images/icons/user-hierarchy.png') }}">
			            </div>
			            <div class="right"> <strong class="total">{{ users|length }}</strong>
			            	Total
			            </div>
	          		</li>
	          		<li>
			            <div class="left">
			            	<img src="{{ asset('bundles/assets/images/icons/users-active.png') }}">
			            </div>
			            <div class="right"> <strong class="total">{{ totals.active ?? null }}</strong>
			            	Active
			            </div>
	          		</li>
	          		<li>
			            <div class="left">
			            	<img src="{{ asset('bundles/assets/images/icons/users-inactive.png') }}">
			            </div>
			            <div class="right"> <strong class="total">{{ totals.inActive ?? null }}</strong>
			            	<a href="#">Inactive</a>
			            </div>
	          		</li>
	        	</ul>
	      	</div>
		<div class="container-fluid">
			<div class="row-fluid no-padding">
			  	<div class="span12">
					<div class="widget-box">
			 	 		<div class="widget-title">
				 			<span class="icon"><i class="icon-th"></i></span> 
							<h5>Members List</h5>
							<div class="pull-right total_status" hidden>
								<span class="badge badge-info"></span>
								<span class="badge badge-success"></span>
								<span class="badge badge-warning"></span>
							</div>
						</div>
					  	<div class="widget-content nopadding">
					  		<div class="btn-icon-pg">
								<ul class="pull-right">
									<li><a href="{{ path('user_new') }}" class="btn btn-mini btn-info btn-block"><i class="fa fa-user"></i> Add New User</a></li>
								</ul>
							</div>
				  			{% if users|length %}
					            <table class="table table-bordered data-table table-responsive">
					              <thead>
					                <tr>
					                  <th>Surname</th>
					                  <th>Firstname</th>
					                  <th>Ministry</th>
					                  <th>Role</th>
					                  <th>Birthday</th>
					                  <th>CLP</th>
					                  <th>Status</th>
					                  <th width="80">Actions</th>
					                </tr>
					              </thead>
					              <tbody>
					              	{% for user in users %}
						                <tr class="gradeX">
						                  	<td>{{ user.lastname }}</td>
						                  	<td>{{ user.firstname }}</td>
						                  	<td>{% if user.ministry.initial is defined %} {{ user.ministry.initial|upper }} {% endif %}</td>
						                  	<td>
						                  		{% for group in user.groups if user.groups|length %}
						                  			{% if group.initial != 'TA' %}
						                  				<span>{{ group.initial|upper }}</span>
						                  			{% endif %}
						                  		{% endfor %}
						                  	</td>
						                  	<td>{{ user.birthday ? user.birthday|date('M d, Y') : null }}</td>
						                  	<td>{{ user.clpDate ? user.clpDate|date('M Y') : null}}</td>
						                  	<td>
						                  		{% if user.isActive %}
						                  			<span class="label label-info">active</span>
						                  		{% else %}
						                  			<span class="label label-important">inactive</span>
						                  		{% endif %}
						                  	</td>
						                  	<td class="text-right">
						                  		<div class="btn-group pull-right">
								                  	<a href="{{ path('user_edit', {id:user.id})}}" class="btn btn-primary btn-mini"><i class="fa fa-edit"></i></a>
								                  	<a href="#" class="btn btn-info btn-mini"><i class="fa fa-file-text-o"></i></a>
								                  	<a href="#" class="btn btn-danger btn-mini"><i class="fa fa-trash"></i></a>
						                  		</div>
						                  </td>
						                </tr>
					              	{% endfor %}
					              </tbody>
					            </table>
					        {% else %}
					          	<div class="alert alert-info">Member list is currently empty!</div>
					        {% endif %}
				        </div>
			  		</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/assets/js/jquery.uniform.js') }}"></script> 
	<script src="{{ asset('bundles/assets/js/select2.min.js') }}"></script> 
	<script src="{{ asset('bundles/libs/datatables/js/jquery.dataTables.min.js') }}"></script> 
	<script src="{{ asset('bundles/assets/js/maruti.js') }}"></script> 
	<script src="{{ asset('bundles/assets/js/maruti.tables.js') }}"></script>
{% endblock %}
		 