{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pastorals list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Venue</th>
                <th>Date</th>
                <th>Created</th>
                <th>Modified</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pastoral in pastorals %}
            <tr>
                <td><a href="{{ path('pastoral_show', { 'id': pastoral.id }) }}">{{ pastoral.id }}</a></td>
                <td>{{ pastoral.title }}</td>
                <td>{{ pastoral.description }}</td>
                <td>{{ pastoral.venue }}</td>
                <td>{% if pastoral.date %}{{ pastoral.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if pastoral.created %}{{ pastoral.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if pastoral.modified %}{{ pastoral.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pastoral_show', { 'id': pastoral.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pastoral_edit', { 'id': pastoral.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pastoral_new') }}">Create a new pastoral</a>
        </li>
    </ul>
{% endblock %}
