{% extends 'NashAnnFrontBundle:Front/Template:layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/libs/pikaday/css/pikaday.css') }}" />
{% endblock %}

{% block content %}
	<div id="content">
	  <div id="content-header">
	    <div id="breadcrumb"> 
	    	<a href="{{ path('nash_ann_front_homepage') }}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i></a>
	    	<a href="#" class="current"><i class="icon-user"></i> Settings</a>
	    </div>
	  </div>
		<div class="container-fluid">
			<div class="row-fluid">
			  	<div class="span4">
					<div class="widget-box">
			 	 		<div class="widget-title">
				 			<span class="icon"><i class="fa fa-download"></i></span> 
							<h5>Export</h5>
						</div>
					  	<div class="widget-content nopadding">
					  		<table class="table table-bordered">
								<tbody>
									<tr>
										<td>IMAC</td>
										<td width="70">
											<a href="#" hidden><img src="{{ asset('bundles/assets/images/icons/pdf.png') }}"></a>
											<a href="#" class="js-export" data-type="imac" data-filetype="xls"><img src="{{ asset('bundles/assets/images/icons/xls.png') }}"></a>
										</td>
									</tr>
									<tr>
										<td>IMAE</td>
										<td width="70">
											<a href="{{ path('user_export', {name:'imae', type:'pdf'}) }}" hidden><img src="{{ asset('bundles/assets/images/icons/pdf.png') }}"></a>
											<a href="{{ path('user_export', {name:'imae', type:'xls'}) }}"><img src="{{ asset('bundles/assets/images/icons/xls.png') }}"></a>
										</td>
									</tr>
								</tbody>
							</table>
				        </div>
			  		</div>
				</div>
			</div>
		</div>
	</div>

	<div id="export-modal" data-iziModal-title="Export Date Range" data-iziModal-subtitle="Select range of dates for export.">
        <div class="iziModal-content">
        	<div class="widget-box">
			  	<div class="widget-content nopadding">
			    	<table class="table table-bordered table-striped data-table">
			        	<tr>
			        		<td>
			        			<form id="export-form">
					        		<div class="control-group">
					        			<label class="control-label">Start Date</label>
					        			<div class="controls">
					        				<input type="text" id="startDate" class="form-control" name="" autocomplete="off">
					        			</div>
					        		</div>
					        		<div class="control-group">
					        			<label class="control-label">End Date</label>
					        			<div class="controls">
					        				<input type="text" id="endDate" class="form-control" name="" autocomplete="off">
					        			</div>
					        		</div>
					        	</form>
			        		</td>
			        	</tr>
			        	<tr>
			        		<td class="text-right"><a href="#" class="btn btn-info" id="export-btn">Export</a></td>
			        	</tr>
			        </table>
			    </div>
        	</div>
        </div>
        <div class="iziModal-footer text-right">
        	
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/libs/pikaday/pikaday.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/maruti.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

	<script type="text/javascript">
		$(function() {
			var exportModal = $('#export-modal'),
				jsExport 	= $('.js-export');


			exportModal.iziModal();

			var picker1 = new Pikaday({ field: $('#startDate')[0] });
			var picker2 = new Pikaday({ field: $('#endDate')[0] });

			jsExport.click(function(e) {
				e.preventDefault();

				var type 		= $(this).data('type'),
					filetype 	= $(this).data('filetye');	

				exportModal.iziModal('open');


				exportBtn 	= $('#export-btn');
				exportBtn.click(function(e) {
					e.preventDefault();

					var startDate = $('#startDate').val(),
						endDate   = $('#endDate').val();

					exportModal.iziModal('close');

					var data = {
						start 	: startDate,
						end   	: endDate,
						type 	: type,
						filetype: filetype
					}

					$.ajax({
						url 		: "{{ path('user_export')}}",
						type 		: 'post',
						data 		: { data: data },
						success 	: function(data) {
							//console.log(data);
							$download = Routing.generate('user_download_file', {id: data.file});
							window.location.href = $download;
						},
						error  		: function(response) {

						}

					});

				});
			
			});

		});
	</script>
{% endblock %}
		 