{% extends 'NashAnnFrontBundle:Front/Template:layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/select2.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/libs/pikaday/css/pikaday.css') }}" />
{% endblock %}

{% block content %}
    <div id="content">
        <div id="content-header">
            <div id="breadcrumb"> 
                <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> 
                <a href="{{ path('pastoral_index') }}"><i class="icon-fire"></i>Activity</a> 
                <a href="#" class="current">New Activity</a> 
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                {{ form_start(form, {'attr': {'class':'form-horizontal', 'novalidate':'novalidate', 'id':'basic_validate'}}) }}
                    <div class="span6">
                        <div class="widget-box">
                            <div class="widget-title">
                                <span class="icon"><i class="icon-th"></i></span> 
                                <h5>Activity Detail </h5>
                            </div>
                            <div class="widget-content nopadding">
                                <div class="control-group">
                                    {{ form_label(form.name) }}
                                    <div class="controls">
                                        {{ form_widget(form.name) }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.date) }}
                                    <div class="controls">
                                        {{ form_widget(form.date, {'id':'activityDate'}) }}
                                    </div>
                                </div>
                                <div class="control-group">
                                    {{ form_label(form.venue) }}
                                    <div class="controls">
                                        {{ form_widget(form.venue) }}
                                    </div>
                                </div>
                                <div class="form-actions text-right">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/assets/js/jquery.uniform.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/jquery.validate.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/maruti.js') }}"></script>
    <script src="{{ asset('bundles/assets/js/maruti.form_validation.js') }}"></script>
    <script src="{{ asset('bundles/libs/pikaday/pikaday.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            var picker1 = new Pikaday({ field: $('#activityDate')[0] });
        });
    </script>
{% endblock %}
