{% extends 'NashAnnFrontBundle:Front/Template:layout.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('bundles/assets/css/select2.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/libs/datatables/css/jquery.dataTables.min.css') }}" />
{% endblock %}

{% block content %}
    <div id="content">
      <div id="content-header">
        <div id="breadcrumb"> 
            <a href="{{ path('nash_ann_front_homepage') }}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i></a>
            <a href="#" class="current"><i class="icon-user"></i> Members</a>
        </div>
      </div>
      <div class="widget-box widget-plain">
        <div class="container-fluid">
            <div class="row-fluid no-padding">
                <div class="span12">
                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="icon"><i class="icon-th"></i></span> 
                            <h5>Activities</h5>
                            <div class="pull-right total_status" hidden>
                                <span class="badge badge-info"></span>
                                <span class="badge badge-success"></span>
                                <span class="badge badge-warning"></span>
                            </div>
                        </div>
                        <div class="widget-content nopadding">
                            <div class="btn-icon-pg">
                                <ul class="pull-right">
                                    <li><a href="{{ path('activity_new') }}" class="btn btn-mini btn-info btn-block"><i class="fa fa-user"></i> Add New Activity</a></li>
                                </ul>
                            </div>
                            {% if activities|length %}
                                <table class="table table-responsive table-bordered">
                                    <tr>
                                        <th>Name</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>  
                                    {% for activity in activities %}
                                        <tr>
                                            <td>{{ activity.name }}</td>
                                            <td>{{ activity.date|date('M d, Y') }}</td>
                                            <td class="text-right">
                                                <div class="btn-group pull-right">
                                                    <a href="" class="btn btn-primary btn-mini"><i class="fa fa-edit"></i></a>
                                                    <a href="#" class="btn btn-info btn-mini"><i class="fa fa-file-text-o"></i></a>
                                                    <a href="#" class="btn btn-danger btn-mini"><i class="fa fa-trash"></i></a>
                                                </div>
                                          </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% else %}
                                <div class="alert alert-info">
                                    Activity List is currently empty!
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/assets/js/jquery.uniform.js') }}"></script> 
    <script src="{{ asset('bundles/assets/js/select2.min.js') }}"></script> 
    <script src="{{ asset('bundles/libs/datatables/js/jquery.dataTables.min.js') }}"></script> 
    <script src="{{ asset('bundles/assets/js/maruti.js') }}"></script> 
    <script src="{{ asset('bundles/assets/js/maruti.tables.js') }}"></script>
{% endblock %}
         