{% extends 'NashAnnFrontBundle:Front/Template:auth.html.twig' %}

{% block authcontent %}
	
	<div class="wrapper wrapper-full-page">
	    <div class="full-page login-page" filter-color="black" data-image="../../assets/img/login.jpeg">
	        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
	        <div class="content">
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">

	                    	<div id="loginbox">     
		                    	{% if app.session.flashBag.has('error') %}
		                    		<div class="alert alert-danger">
			                    		{% for msg in app.session.flashBag.get('error') %}
			                    			{{ msg }}
			                    		{% endfor %}
		                    		</div>
		                    	{% endif %}
		                    	{% if error %}
		                    		<div class="alert alert-danger">
		                    			{{ error.messageKey|trans(error.messageData, 'security') }}
		                    		</div>
		                    	{% endif %}
	                    		{{ form_start(form, {'attr':{'id': 'loginform'}}) }}       
									 <div class="control-group normal_text"> <h3><img src="{{ asset('bundles/assets/img/logo.png') }}" alt="Logo" /></h3></div>
					                <div class="control-group">
					                    <div class="controls">
					                        <div class="main_input_box">
					                            <span class="add-on"><i class="icon-user"></i></span>
					                            {{ form_widget(form._username) }}
					                        </div>
					                    </div>
					                </div>
					                <div class="control-group">
					                    <div class="controls">
					                        <div class="main_input_box">
					                            <span class="add-on"><i class="icon-lock"></i></span>
					                            {{ form_widget(form._password) }}
					                        </div>
					                    </div>
					                </div>
					                <div class="form-actions">
					                    <span class="pull-left"><a href="#" class="flip-link btn btn-inverse" id="to-recover">Lost password?</a></span>
					                    <span class="pull-right"><input type="submit" class="btn btn-success" value="Login" /></span>
					                </div>
					            {{ form_end(form) }}

					            <form id="recoverform" action="#" class="form-vertical">
									<p class="normal_text">Enter your e-mail address below and we will send you instructions how to recover a password.</p>
									
					                    <div class="controls">
					                        <div class="main_input_box">
					                            <span class="add-on"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address" />
					                        </div>
					                    </div>
					               
					                <div class="form-actions">
					                    <span class="pull-left"><a href="#" class="flip-link btn btn-inverse" id="to-login">&laquo; Back to login</a></span>
					                    <span class="pull-right"><input type="submit" class="btn btn-info" value="Recover" /></span>
					                </div>
					           	</form>
					        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

	    </div>
	</div>

{% endblock %}