{% extends 'NashAnnFrontBundle:Front/Template:layout.html.twig' %}

{% block styles %}
	<link rel="stylesheet" href="{{ asset('bundles/assets/css/select2.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/libs/datatables/css/jquery.dataTables.min.css') }}" />
{% endblock %}

{% block content %}
	<div id="content">
	  <div id="content-header">
	    <div id="breadcrumb">
	    	<a href="{{ path('nash_ann_front_homepage') }}" title="Go to Home" class="tip-bottom"><i class="icon-home"></i></a>
	    	<a href="#" class="current"><i class="fa fa-group"></i> Pastoral</a>
	    </div>
	  </div>
	  <div class="widget-box widget-plain">
	      	<div class="center">
	        	<ul class="stat-boxes">
	          		<li>
			            <div class="left">
			            	<img src="{{ asset('bundles/assets/images/icons/user-arrow-down.png') }}">
			            </div>
			            <div class="right"> <strong class="total"></strong>
			            	Household
			            </div>
	          		</li>
	          		<li>
			            <div class="left">
			            	<img src="{{ asset('bundles/assets/images/icons/users-assembly.png') }}">
			            </div>
			            <div class="right"> <strong class="total"></strong>
			            	General Assembly
			            </div>
	          		</li>
	          		<li>
			            <div class="left">
			            	<img src="{{ asset('bundles/assets/images/icons/users-talk.png') }}">
			            </div>
			            <div class="right"> <strong class="total"></strong>
			            	<a href="#">Leaders</a>
			            </div>
	          		</li>
	        	</ul>
	      	</div>
		<div class="container-fluid">
			<div class="row-fluid">
			  	<div class="span12">
					<div class="widget-box">
			 	 		<div class="widget-title">
				 			<span class="icon"><i class="icon-th"></i></span>
							<h5>Pastoral Formation Table</h5>
							<div class="pull-right total_status" hidden>
								<span class="badge badge-info"></span>
								<span class="badge badge-success"></span>
								<span class="badge badge-warning"></span>
							</div>
						</div>
					  	<div class="widget-content nopadding">
					  		<div class="btn-icon-pg">
								<ul class="pull-right">
									<li><a href="{{ path('pastoral_new') }}" class="btn btn-mini btn-info btn-block"><i class="fa fa-file-text-o"></i> Add New</a></li>
								</ul>
							</div>
<<<<<<< Updated upstream
								{% if pastoral|length %}
						            <table class="table table-bordered data-table table-responsive">
						              <thead>
						                <tr>
						                  <th>Title</th>
						                  <th>Categories</th>
						                  <th>Description</th>
						                  <th>Venue</th>
						                  <th>Date</th>
						                  <th width="80">Actions</th>
=======
					            <table class="table table-bordered data-table table-responsive">
					              <thead>
					                <tr>
					                  <th>Surname</th>
					                  <th>Firstname</th>
					                  <th>Ministry</th>
					                  <th>Role</th>
					                  <th>Birthday</th>
					                  <th>CLP</th>
					                  <th>Status</th>
					                  <th width="80">Actions</th>
					                </tr>
					              </thead>
					              <tbody>
						                <tr class="gradeX">
						                  	<td></td>
						                  	<td></td>
						                  	<td></td>
						                  	<td></td>
						                  	<td></td>
						                  	<td></td>
						                  	<td></td>
						                  	<td class="text-right">
						                  		<div class="btn-group pull-right">
								                  	<a href="#" class="btn btn-primary btn-mini"><i class="fa fa-edit"></i></a>
								                  	<a href="#" class="btn btn-info btn-mini"><i class="fa fa-file-text-o"></i></a>
								                  	<a href="#" class="btn btn-danger btn-mini"><i class="fa fa-trash"></i></a>
						                  		</div>
						                  </td>
>>>>>>> Stashed changes
						                </tr>
						              </thead>
						              <tbody>
						              	{% for p in pastoral %}
							                <tr class="gradeX">
							                  	<td>{{ p.title }}</td>
							                  	<td>
													{% for cat in p.categories %}
														<p>{{ cat.name }}</p>
													{% endfor %}
							                  	</td>
							                  	<td>{{ p.description }}</td>
							                  	<td>{{ p.venue }}</td>
							                  	<td>{{ p.date|date('D M Y H:i') }}</td>
							                  	<td class="text-right">
							                  		<div class="btn-group pull-right">
									                  	<a href="#" class="btn btn-warning btn-mini"><i class="fa fa-users"></i></a>
									                  	<a href="{{ path('pastoral_edit', {id: p.id}) }}" class="btn btn-primary btn-mini"><i class="fa fa-edit"></i></a>
									                  	<a href="#" class="btn btn-info btn-mini"><i class="fa fa-file-text-o"></i></a>
									                  	<a href="#" class="btn btn-danger btn-mini"><i class="fa fa-trash"></i></a>
							                  		</div>
							                  </td>
							                </tr>
							               {% endfor %}
						              </tbody>
						            </table>
						        {% else %}
					          		<div class="alert alert-info">Pastoral list is currently empty!</div>
					          	{% endif %}
				        </div>
			  		</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/assets/js/jquery.uniform.js') }}"></script>
	<script src="{{ asset('bundles/assets/js/select2.min.js') }}"></script>
	<script src="{{ asset('bundles/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('bundles/assets/js/maruti.js') }}"></script>
	<script src="{{ asset('bundles/assets/js/maruti.tables.js') }}"></script>
{% endblock %}
