{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pastoral</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pastoral.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ pastoral.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ pastoral.description }}</td>
            </tr>
            <tr>
                <th>Venue</th>
                <td>{{ pastoral.venue }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if pastoral.date %}{{ pastoral.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if pastoral.created %}{{ pastoral.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modified</th>
                <td>{% if pastoral.modified %}{{ pastoral.modified|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pastoral_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pastoral_edit', { 'id': pastoral.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
