<!DOCTYPE html>
<html lang="en">
    
<head>
        <title>Auth</title><meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ asset('bundles/assets/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/assets/css/bootstrap-responsive.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/assets/css/maruti-login.css') }}" />
    </head>
    <body>
        
        {% block authcontent %}{% endblock %}
        
        <script src="{{ asset('bundles/assets/js/jquery.min.js') }}"></script>  
        <script src="{{ asset('bundles/assets/js/maruti.login.js') }}"></script> 
    </body>

</html>
