<!DOCTYPE html>
<html lang="en">
<head>
  <title>CFC Helper App</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ asset('bundles/assets/css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('bundles/assets/css/bootstrap-responsive.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('bundles/assets/css/fullcalendar.css') }}" />
  <link rel="stylesheet" href="{{ asset('bundles/libs/fontawesome/css/font-awesome.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('bundles/libs/izimodal/css/iziModal.css') }}" />
  <link rel="stylesheet" href="{{ asset('bundles/libs/sweetalert/sweetalert.css') }}" />
  <link rel="stylesheet" href="{{ asset('bundles/assets/css/maruti-style.css') }}" />
  <link rel="stylesheet" href="{{ asset('bundles/assets/css/maruti-media.css') }}" class="skin-color" />

  {% block styles %}{% endblock %}

</head>

{% set route = app.request.attributes.get('_route') %}

<body>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">CFC Helper App</a></h1>
</div>
<!--close-Header-part-->

<!--top-Header-messaages-->
<div class="btn-group rightzero"> <a class="top_message tip-left" title="Manage Files"><i class="icon-file"></i></a> <a class="top_message tip-bottom" title="Manage Users"><i class="icon-user"></i></a> <a class="top_message tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a> <a class="top_message tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a> </div>
<!--close-top-Header-messaages-->

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
	<li class="" ><a title="" href="#"><i class="icon icon-user"></i> <span class="text">Profile</span></a></li>
	<li class=" dropdown" id="menu-messages"><a href="#" data-toggle="dropdown" data-target="#menu-messages" class="dropdown-toggle"><i class="icon icon-envelope"></i> <span class="text">Messages</span> <span class="label label-important">5</span> <b class="caret"></b></a>
	  <ul class="dropdown-menu">
		<li><a class="sAdd" title="" href="#">new message</a></li>
		<li><a class="sInbox" title="" href="#">inbox</a></li>
		<li><a class="sOutbox" title="" href="#">outbox</a></li>
		<li><a class="sTrash" title="" href="#">trash</a></li>
	  </ul>
	</li>
	<li class=""><a title="" href="{{ path('user_setting') }}"><i class="icon icon-cog"></i> <span class="text">Settings</span></a></li>
	<li class=""><a title="" href="login.html"><i class="icon icon-share-alt"></i> <span class="text">Logout</span></a></li>
  </ul>
</div>
<div id="search">
  <input type="text" placeholder="Search here..."/>
  <button type="submit" class="tip-left" title="Search"><i class="icon-search icon-white"></i></button>
</div>
<!--close-top-Header-menu-->

<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a><ul>
	<li {% if route == 'nash_ann_front_homepage' %}class="active"{% endif %}>
		<a href="{{ path('nash_ann_front_homepage') }}"><i class="icon icon-home"></i> <span>Dashboard</span></a>
	</li>
	<li {% if route == 'user_index' %}class="active"{% endif %}>
		<a href="{{ path('user_index') }}"><i class="icon icon-user"></i> <span>Members</span></a>
	</li>
<<<<<<< Updated upstream
	<li>
		<a href="widgets.html"><i class="icon icon-inbox"></i> <span>Attendance</span></a>
	</li>
	<li {% if route == 'pastoral_index' %}class="active"{% endif %}>
=======
	<li {% if route == 'activity_index' %}class="active"{% endif %}> 
		<a href="{{ path('activity_index') }}"><i class="icon icon-fire"></i> <span>Activities</span></a>
	</li>
	<li {% if route == 'pastoral_index' %}class="active"{% endif %}> 
>>>>>>> Stashed changes
		<a href="{{ path('pastoral_index') }}"><i class="icon icon-th-list"></i> <span>Pastoral</span></a>
	</li>
	<li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Events</span></a>
	  <ul>
		<li><a href="form-validation.html">Gateway</a></li>
		<li><a href="form-common.html">Events &amp; Activities</a></li>
	  </ul>
	</li>
	<li class="submenu"> <a href="#"><i class="icon icon-th-list"></i> <span>Formation</span></a>
	  <ul>
		<li><a href="form-common.html">Basic Form</a></li>
		<li><a href="form-validation.html">Form with Validation</a></li>
		<li><a href="form-wizard.html">Form with Wizard</a></li>
	  </ul>
	</li>
	<li> 
		<a href="widgets.html"><i class="icon icon-inbox"></i> <span>Attendance</span></a>
	</li>
  </ul>
</div>

{% block content %}{% endblock %}

</div>
</div>
<div class="row-fluid">
  <div id="footer" class="span12"> 2012 &copy; Marutii Admin. Brought to you by <a href="#">#</a> </div>
</div>

<script src="{{ asset('bundles/assets/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/assets/js/jquery.ui.custom.js') }}"></script>
<script src="{{ asset('bundles/assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/libs/izimodal/js/iziModal.min.js') }}"></script>
<script src="{{ asset('bundles/libs/sweetalert/sweetalert.min.js') }}"></script>

{% block javascripts %}{% endblock %}

<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

	  // if url is empty, skip the menu dividers and reset the menu selection to default
	  if (newURL != "") {

		  // if url is "-", it is this page -- reset the menu:
		  if (newURL == "-" ) {
			  resetMenu();
		  }
		  // else, send page to designated URL
		  else {
			document.location.href = newURL;
		  }
	  }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>
</body>
</html>
